.Playground {
    /* TODO: Use or remove empty css */

    position: fixed;
    bottom: 10px;
    right: 10px;

    border: 1px solid red;
    background-color: brown;
    color: white;
    margin: 10px;

    width: 100px;
    min-height: 20px;
}
